# Binaries and object files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Dependency directories
vendor/
tmp/

# Local configuration
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store 